* {
  box-sizing: border-box;
  font-family: "Montserrat Bold",serif;
}

body {
	background-color: rgb(229, 221, 206);
}


html, body, .container, .wrapper, .inner {
	height: 100%;
}


img {
	height: 65px;
}

.right {
	text-align: right;
}

.modal-input {
	float: right;
	margin-right: 100px;
}

.modal-backdrop {
   background-color: rgb(229, 221, 206);
}

