* {
  box-sizing: border-box;
  font-family: "Montserrat Bold",serif;
}

body {
	background-color: rgb(229, 221, 206);
}


html, body, .container, .wrapper, .inner {
	height: 75%;
}


img {
	height: 65px;
}

.right {
	text-align: right;
}

